body {
  background: #8e0e00;
  background: -webkit-linear-gradient(to right, #1f1c18, #8e0e00);
  background: linear-gradient(to right, #1f1c18, #8e0e00);
}
h1 {
  color: #fff;
  font-size: 7rem;
  text-align: center;
  padding-top: 10%;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono;
}
